/* Body */
body {
   background-image: url("Image/Background2.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	font-family:Kozuka;
}

@font-face /* Het Font */ { 
    font-family: Kozuka;
    src: url('Font/Kozuka Gothic Pro L.ttf');
}


/* Logo bovenaan de pagina */
.homelogo { 
	width:127px;
	height:95px;
	margin:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}


/* Header */
#inloggenBox /* De box zorgt ervoor dat hij gecentreerd blijft samen met de rest van de site. */ {
	width:1000px;
	top:50px;
    left: 50%;
    transform: translate(-50%, 0) /* Hierdoor wordt de box in het midden weergeven. */ ;
	display: block;
	position:absolute;
	z-index:1;
	margin:0px;
	padding:0px;

}

#inloggen /* De inlogknop zelf die binnen in de inlogbox zit. Hij staat aan de rechterkant van de box. */{
	height:44px;
	width:200px;
	float:right;
	display: block;
	background-color:#900000;
	position:relative;
	color:white;
	border-radius:10px;
	text-align:center;
	font-size:20px;
	margin:0px;
	padding:0px;
}


#navigatie {
	height:50px;
	width:1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:#900000;
	position:relative;
	color:white;
}






/* Navigatie */
ul {
	
	margin:0px;
	padding:0px;
	list-style:none;


}

ul li {
	float:left;
	width:200px;
	height:70px;
	background-color:#900000;
	line-height: 70px;
	text-align:center;
	box-shadow:0px 0px 0px 1px black inset /* Dit zorgt ervoor dat er een border om de balk heen zit maar dan aan de binnenkant. Zodat het de box niet vergroot */;
	font-size:28px;
}


ul li a {
	text-decoration:none;
	color:white;
	display:block;
	
}

ul li a:hover {
	background-color:#610000;
}

ul li ul li {
	display:none;
	font-size:13px;
	height:30px;
	line-height: 30px;
}

ul li:hover ul li {
	display:block
}





/* Middel */
.midden {
	height:1144px;
	width:1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:#330000;
	position:relative;
	color:white;
	z-index:-1;
}



/* Footer */
.footer {
	height:64px;
	width:1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:#900000;
	position:relative;
	color:white;
}

.logo {
	position:relative;
	height:64px;
	float:right;
	margin:0px;
	top:-80px;

}

.socialmedia { 
	position:relative;
	float:right;
	margin:0px;
	top:-78px;
}

.socialmedia img /* Aparte styling voor de induviduele Social media iconen */ {
	height:50px;
	width:50px;
	margin:0px;
	padding:0px;
}



